<%- include("includes/head.ejs") %>
<body>
<h1>This is ejs template page</h1>
<h2><%= 2*6 %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt harum nihil eius reiciendis iure aliquid soluta alias deserunt esse, in iste mollitia aspernatur eos culpa, suscipit ab id ratione inventore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sint ratione recusandae officia similique animi sed modi alias rem nisi quae facere quam quod, vitae nesciunt dolores repellat. Iste, asperiores?
        In illo saepe dolorem quibusdam nam esse cumque dolor culpa voluptatem odio, porro ut, harum quos! Blanditiis nesciunt odit consectetur sunt maiores, voluptatibus, suscipit quis magnam reprehenderit vero atque iste.
        Nisi quis earum iusto, qui suscipit ad repellat, nemo deleniti accusantium atque, sint doloremque! Molestias, vitae. Dolore neque, aperiam laudantium consequuntur dolor sed nulla. A voluptatem assumenda sunt nostrum dolores?
        Quae eaque aliquid possimus, minus nesciunt ea qui blanditiis vel corrupti? Illo mollitia quisquam nostrum modi tempore, aliquid vero voluptatum sunt doloribus, repellat aperiam sequi dolores saepe reprehenderit ab sit!
    </p>
    <button>click me</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>